<div class="rounded-lg border border-unel-crema-2 bg-white p-6 shadow-sm w-1/4">
  <p class="text-sm font-medium text-unel-humo">
    <%= title %>
  </p>

  <p class="mt-2 text-3xl font-bold text-unel-verde">
    <%= value %>
  </p>

  <% if local_assigns[:description].present? %>
    <p class="mt-2 text-xs text-unel-humo">
      <%= description %>
    </p>
  <% end %>
</div>